/* default / demo page */

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	min-height: 1280px;
	font-weight: 300;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#intro {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

.intro__hed {
	font-family: 'Spectral', serif;
	font-size: 20px;
	font-weight: 700;
}