/* default / demo page */

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	min-height: 1280px;
	font-weight: 300;
	color: #2a2a2a;
}

#intro {
	max-width:700;
	margin:auto;
	background-color:#222;
}