
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
    display: table;
    margin: auto;
    max-width: 500px;
}

body {
    display: table-cell;
    vertical-align: middle;
    min-height: 1280px;
	font-weight: 300;
}

#intro {
}

.intro {
	font-family: 'Spectral', sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

.intro__hed {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	text-align: center;
}

.first_p {
	margin-top: 20px;
	font-family: 'Open Sans', serif;
	font-size: 14px;	
}